body{
    
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
a{
    text-decoration: none;
    color: #d6a553;
}



#header{
      display: flex;
     background-color: black;
     justify-content: space-between;
     flex-wrap: wrap;
     align-content: center;
     color: #d6a553;
     position: fixed;
    width: 100%;
}

.hover:hover{
color: white;
}

#navBar{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    font-size: 15px;
    margin-top: 30px;
    margin-right: 20px;
}

#navBar > li  :hover {
    color: white;
}

#navBar > li > a {
  text-decoration: none;
  color: #d6a553;
}
#header > div > img{
    width: 100px;
    height: 90px;
    margin-left: -110px;
}

.details{
    margin-left: 30px;
}

.details2{
    width:18px;
    margin-right: 7px;
}

#intro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;
     align-items: center;
     background-image: url("../images/WhatsApp\ Image\ 2025-05-23\ at\ 15.55.38_bd9b1000.jpg");
     background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
}

#intro >div  h1{
 margin-bottom: -20px;
 color: #d6a553;
 font-size: 3rem;
}

#intro > div > p{
    color: white;
    font-size: 1rem;
}

#intro > div> button{
    border-radius: 20px;
    border: none;
    color: #d6a553;
    background-color: black;
}

#intro > div> button :hover{
    color: white;
}


#intro >div {
    text-align: center;
}


#infor1{
     display: flex;
     flex-wrap: wrap;
      gap: 10px;
   
}

#infor1 >div {
  margin-left: 20px;
  margin-top: 20px;
}

#infor1 >div >h2{
    color: #d6a553;
}
#infor1 >div >img{
    width:400px;
    border-radius: 20px;
    border: #d6a553 solid 3px;
    margin-top: 10px;
    animation-name: slideLeft;
    animation-duration: 5s;

}

@keyframes slideLeft{
    from{transform: translateX(300px)}
}



#services{
    text-align: center;
    color: #d6a553;

}
#infor2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    
}


.card{
    border:#d6a553 3px solid;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    
} 

.card :hover{
    transform: translateY(-5px);
}

.card > img{
  width: 100%;
  height: 200px;
  
}

.card > p{
    text-align: center;
    font-size: 20px;
    
    
}

#package{
    text-align: center;
    color: #d6a553;
}


#plans{
    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
   background-color: #d6a553; 
}

.plan{
    
     width: 320px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: "Kumbh Sans",sans-serif;
    background-color: white;
  
}



.plan>h3{
    color: #d6a553;
    font-size: 25px;
}
.plan >h4{
    margin-top: -20px;
}

.plan >h4 > span{
    color: #d6a553;
    font-size: 60px;
}

.plan >h5{
    font-size: 20px;
    margin-top: -10px;
}

.plan >ul{
    list-style: none;
    margin-top: -20px;
    
}
.plan >ul >li{
    margin-bottom: 7px;

}
.plan >ul >li >img{
    width: 15px;
    margin-right: 10px;
}
#plan1{
    height: 300px;
   
}
#plan2{
    height: 330px;
}
#plan3{
    height: 370px;
}

#apply{
    height: 440px;
}




#footer{
    color: #d6a553;
    background-color: black;
}

#footer1{
 display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  
}
#footer1 > div > ul{
 list-style: none;
}
.socials{
  width: 25px;
  margin-top: 10px;
}

.title{
 text-decoration: underline;
}


#footer2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



